 table {
    font-size: 14px;
    border-radius: 10px;
    border-spacing: 0;
    border: 1px solid black
    }
    th {
    /*background: #BCEBDD;*/
    background: #dcdcdc;
    font-size: 20px;
    color: black;
    padding: 10px 20px;
    text-align: center;
    }
    th, td {
    border-style: solid;
    border-width: 0 1px 1px 0;
    border-color: black;
    }
    th:first-child {
    border-top-left-radius: 10px;
    }
    th:last-child {
    border-top-right-radius: 10px;
    border-right: none;
    }
    td {
    padding: 10px 10px;
    }
    tr:last-child td:first-child {
    border-radius: 0 0 0 10px;
    }
    tr:last-child td:last-child {
    border-radius: 0 0 10px 0;
    }
    tr td:last-child {
    border-right: none;
    }